*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.title{
    top: 50px;
    color: white;
    font-size: 80px;
    text-align: center;
}
.container{
    filter: brightness(120%);
    background-image: url(Images/BG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.autotext{
    margin-top: 100px;
    color: #fff;
    text-align: center;
    font-size: 40px;
}

.auto-type{ 
    color: #fff727;
}

.Glass{
    width: 700px;
    height: 450px;
    margin: 150px auto;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.Glass p{
    color: #fff;
    text-align: center;
    font-size: 30px;
}
.youtube{
    align-items: center;
    margin-left: 75px;
    margin-top: 25px;
}


